<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="../static/styles/css/ui.css" />
		<link rel="icon" type="image/png" href="../static/images/robot_temp.jpg" />
		<title>AKOBot - Train Travel Chatbot</title>
	</head>
	<body>
		<header>
			<img id="logo" alt="AKOBot logo" src="../static/images/akobot.png"/>
		</header>
		<main>
			<div class="chat-container">
				<div id="chat"></div>
			</div>
			<div class="side-bar">
				<div class="container">
					<h1 class="heading">Your Booking</h1>
					<br/>
					<div class="ticket">
						<div class="ticket-header">XXXXXX</div>
						<div class="ticket-container">
							<div class="info from">XXXXXX</div>
							<div class="info out">XX XXX XX @ XX:XX</div>
							<div class="info to">XXXXXX</div>
							<div class="info in">XX XXX XX @ XX:XX</div>
							<div class="info adults">XXX</div>
							<div class="info child">XXX</div>
						</div>
						<div class="ticket-icon"></div>
						<div class="ticket-footer">Updated <span id="search-time">XX:XX</span></div>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<form method="POST" id="message_form">
				<div class="form-group">
					<input type="text" class="left-box" id="user_input" name="user_input" placeholder="Start typing your message"/>
					<button type="submit" class="right-box send-message"></button>
				</div>
			</form>
		</footer>
	</body>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/microsoft-cognitiveservices-speech-sdk@latest/distrib/browser/microsoft.cognitiveservices.speech.sdk.bundle-min.js"></script>
	<script src="../static/styles/javascript/scripts.js"></script>
</html>